[class="background"] {
    position: absolute;
    background-attachment: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(39, 36, 36);
}