[class="listBG"] {
    min-height: 32vmin;
    height: auto;
    max-width: 65vw; 
    margin-top: 2vmin;
    background-color: rgba(117, 174, 187, 0.34);
    border-radius: 3vmin 12vmin 1vmin 3vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
[class="divImage"] {
    position: relative;
    top: 2.5vh;
    width: 22.5%;
    box-sizing: border-box;
}
[class="content"] {
    position: relative;
    top: 2.5vh;
    left: 0vw;
    width: 30%;
    box-sizing: border-box;
}
[class="wrapBTN"] {
    position: relative;
    width: 20%;
    margin: 5vmin;
    box-sizing: border-box;
}
[class="listImage"] {
    position: relative;
    width: 18.5vmin;
    height: 26vmin;
    max-width: 18.5vmin;
    max-height: 26vmin;
    left: 50%;
    transform: translateX(-50%);
}
[class="borderImage"] {
    position: relative;
    width: 78%;
    left: 50%;
    transition:0.5s;
    pointer-events: none;
    transform: translateX(-50%);
}
[class="borderImage"]:before{
    content: '';
    position:absolute;
    top:0;
    left:-78%;
    width:78%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
}
[class="borderImage"]:hover:before{
    left:-60%;
    transform: skewX(-6deg);
}
span{
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}
[class="borderImage"] span:nth-child(1)
{
    transform:rotate(0deg);
}
[class="borderImage"] span:nth-child(3)
{
    transform:rotate(180deg);
}
[class="borderImage"] span:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.6vmin;
    background: #4b85f18a;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0% {
        transform:scaleX(0);
        transform-origin: left;
    }
    50%
    {
        transform:scaleX(1);
        transform-origin: left;
    }
    50.1%
    {
        transform:scaleX(1);
        transform-origin: right;  
    }
    100%
    {
        transform:scaleX(0);
        transform-origin: right;
    }
} 
[class="btn"] {
    position: relative;
    background-color: rgb(42, 113, 206);
    color: whitesmoke;
    width: 10.5vw;
    height: 5.4vh;
    font-size: 2vmin;
    text-align: center;
    vertical-align: middle;
    top: 18vh;
    left: 4vw;
    border-radius: 1vmin;
    animation: shadow-pulse 1s infinite;
}
[class="name"] {
    display: block;
    margin-top: 1vh;
    font-size: 3vmin;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
[class="tagline"] {
    display: block;
    margin-top: 1.8vmin;
    text-align: left;
    font-size: 1.65vmin;
}
[class="priceNdate"] {
    font-style: oblique;
    display: block;
    margin-top: 2vmin;
    text-align: left;
    font-size: 2vmin;
}

@media (max-width: 768px){
    [class="divImage"] {
        width: 100%;
    }
    [class="content"] {
        width: 100%;
    }
    [class="wrapBTN"] {
        width: 100%;
    }
    [class="btn"] {
        display: flex;
        top: 1vh;
        left: 0;
        width: 18vw;
        height: 4vh;
        margin-left: auto;
        margin-right: auto;
    }
    [class="name"] {
        margin-top: 2vmin;
        text-align: center;
    }
    [class="tagline"] {
        text-align: center;
        margin-top: 1vmin;
    }
    [class="priceNdate"] {
        text-align: center;
        margin-top: 2vmin;
    }
    [class="borderImage"] {
        width: 28%;
    }
    [class="borderImage"]:before{
        left: -28%;
        width: 28%;
    }
}

@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0vw rgba(236, 223, 50, 0.795);
    }
    25% {
        box-shadow: 0 0 0 0.25vw rgba(236, 109, 50, 0.795);
    }
    50% {
        box-shadow: 0 0 0 0.5vw rgba(56, 236, 50, 0.795);
    }
    75% {
        box-shadow: 0 0 0 0.75vw rgba(137, 50, 236, 0.795);
    }
    100% {
        box-shadow: 0 0 0 1vmin rgba(42, 128, 241, 0.548);
    }
}