[class="backgroundDT"] {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgb(77, 73, 73);
}
[class="contentDT"] {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    border-radius: 2vmin;
    width: 52vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5vmin;
    box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
    background: rgba(255, 255, 255, 0.98);
    border: dashed;
    border-width: 1vmin;
    border-color: rgb(255, 217, 0);
}
[class="divImg"] {
    position: relative;
    box-sizing: border-box;
    top: 2vh;
}
[class="imgStyle"] {
    width: 27.5vmin;
    height: 38vmin;
    box-shadow: 1vmin 1vmin;
}
[class="detailsArea"] {
    position: relative;
    box-sizing: border-box;
}
[class="info"] {
    position: relative;
    font-size: 3vmin;
}
[class="Name"] {
    position: relative;
    display: block;
    font-size: 3vmin;
}
[class="Tagline"] {
    position: relative;
    display: block;
    font-size: 2vmin;
}
[class="Price"] {
    position: relative;
    display: block;
    color: black;
    width: 19vmin;
    font-size: 2.2vmin;
    padding: 0.8vmin;
    background: rgba(102,204,255,0.6);
    border-radius: 1vmin;
}
[class="NumTicket"] {
    display: block;
    margin-top: 2vh;
    width: 50.6vmin;
    overflow: hidden;
    height: 20vmin;
    bottom: 28vmin;
    background: rgba(18, 19, 19, 0.582);
    border-radius: 1vmin 0vmin 0vmin 6vmin;
}
[class="numText"]{
    position: absolute;
    color: white;
    padding: 2vmin;
}
[class="numInput"] {
    position: relative;
    display: flex;
    top: 8vh;
    left: 9vw;
}
[class="minusBtn"] {
    width: 5.5vmin;
    height: 6vmin;
    background: rgba(255,255,102,0.6);
    border-radius: 2vmin 0.4vmin 0.4vmin 2vmin;
}
[class="num"] {
    text-align: center;
    font-size: 2.2vmin;
    width: 8vmin;
    height: 6vmin;
}
[class="plusBtn"] {
    width: 5.5vmin;
    height: 6vmin;
    background: rgba(255,255,102,0.6);
    border-radius: 0.4vmin 2vmin 2vmin 0.4vmin;
}
[class="Total"] {
    display: block;
    color: black;
    font-size: 2.2vmin;
    width: 36.6vmin;
    margin-left: 14vmin;
    padding: 2vmin;
    background: rgba(102,204,255,0.6);
    border-radius: 0vmin 0vmin 0vmin 4vmin;
}
[class="okBTN"] {
    position: absolute;
    background-color: #2185d0;
    color: #fff;
    text-align: center;
    float: right;
    right: 2vw;
    bottom: 2vh;
    font-size: 2.2vmin;
    width: 12vw;
    height: 5vh;
    border-radius: 0.6vmin;
}
[class="cancelBTN"] {
    position: absolute;
    background-color: #db2828;
    color: #fff;
    text-align: center;
    float: left;
    left: 2vw;
    bottom: 2vh;
    font-size: 2.2vmin;
    width: 10vw;
    height: 5vh;
    border-radius: 0.6vmin;
}
@media (max-width: 768px){
    [class="contentDT"] {
        max-width: 80%;
        max-height: 80%;
        width: 62vw;
        bottom: 8vh;
        padding: 0;
    }
    [class="detailsArea"] {
        margin-bottom: 4vh;
    }
    [class="Name"] {
        text-align: center;
        width: 100%;
    }
    [class="Tagline"] {
        text-align: center;
        width: 100%;
    }
    [class="Price"] {
        text-align: center;
        width: 100%;
    }
    [class="okBTN"] {
        font-size: 2vmin;
        width: 47%;
        border-radius: 0vmin 2vmin 2vmin 0vmin;
    }
    [class="cancelBTN"] {
        font-size: 2vmin;
        width: 47%;
        border-radius: 2vmin 0vmin 0vmin 2vmin;
    }
    [class="NumTicket"] {
        width: 100%;
        border-radius: 1vmin;
        margin-top: 0.5vh;
    }
    [class="numText"]{
        position: relative;
        text-align: center;
    }
    [class="numInput"] {
        justify-content: center;
        left: 0;
        top: -1.5vh;
    }
    [class="Total"] {
        width: 100%;
        margin-left: 0vmin;
        border-radius: 1vmin;
        text-align: center;
    }
    [class="minusBtn"] {
        width: 8vw;
        height: 6.5vmin;
    }
    [class="num"] {
        width: 10vmin;
        height: 6.5vmin;
    }
    [class="plusBtn"] {
        width: 8vw;
        height: 6.5vmin;
    }
}