* {
    box-sizing: border-box;
}
[class="backgroundMP"] {
    position: absolute;
    background-attachment: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgb(39, 36, 36);
}
[class="menuBar"] {
    position: relative;
    clear: both;
    background-color: dimgray;
    left: 0vw;
    width: 100%;
    min-height: 10vh;
    max-height: 50vh;   
}
[class="movieIcon"] {
    color: #ffd000;
    font-size: 4.5vmin;
    text-shadow: 2px 1px #fff6cc; 
    margin-left: auto;
    margin-right: auto;
}
[class="moviesList"] {
    position: relative;
    display: flex;
    clear: both;
    overflow: scroll;
    background-color: rgb(255, 255, 255);
    top: 4vh;
    margin: auto auto;
    width: 94vw;
    height: 82vh;
    min-height: 15vh;
}
[class="listContainer"] {
    position: relative;
    margin: auto auto;
    width: auto;
    height: auto;
    min-width: 60vw;
    min-height: 77vh;
    border-collapse: collapse;
}