[class="welcome"] {
    position: relative;
    top: 35vh;
    transform: translateY(-30vh);
    margin-left: auto;
    margin-right: auto;
}
h1 {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    top: 12vh;
    color: rgb(255, 255, 87);
    text-shadow: 0.2vw 0.2vw rgb(153, 153, 145);
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    font-size: 6vmin
}
img {
    position: relative;
    display: flex;
    top: 16vh;
    width: 30vw;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    filter : drop-shadow(0 0 6vw rgb(99, 224, 255));
}